<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen">
    <link href="/Contents/css/styles.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <title>Yelp</title>
  </head>
  <body>
    <div class="container">
      @RenderBody()
    </div>
  </body>
</html>
