@{
    Layout="Shared/_Layout.cshtml";
}
<h1 class="jumbotron">Restaurant Bookmarks</h1>
<div class="row">
  <a href="/cuisines">See all cuisines</a>
</div>
<div class="row">
  <a href="/restaurants">See all restaurants</a>
</div>
<div class="row">
  <form action="/cuisines/search" method="post">
    <label for="search">Search a cuisine in the database:</label>
    <input type="text" name="search" id="search">
  </form>
</div>
