@{
    Layout="Shared/_Layout.cshtml";
}

<h3>Information for @Model["restaurant"].GetName():</h3>

<ul>
  <li>@Model["restaurant"].GetDate()</li>
  <li>@Model["restaurant"].GetFavDish()</li>
  <li>@Model["cuisine"].GetName()</li>
</ul>

<form action="/restaurant/@Model["restaurant"].GetId()/deleted" method="post">
  <button type="submit" name="button" class="btn btn-lg btn-info">Delete this Restaurant</button>
</form>

<div class="row">
  <a href="/restaurants">See all restaurants</a><br>
  <a href="/cuisines">See all cuisines</a><br>
  <a href="/">Home Page</a>
</div>
